.view-all-container {
  display: flex;           
  justify-content: center; 
  margin: 20px 0;          
}

.view-all-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-all-btn:hover {
  background-color: #0056b3;
}
.product-image {
  transition: transform 0.3s ease;
}
.product-image:hover {
  transform: scale(1.5);
}




